In [4]:
import pandas as pd

df = pd.read_csv("KIC_Cord.csv", encoding="utf-8")

df.insert(0, '인덱스', range(len(df)))

print(df)

df.to_csv("수정된파일경로.csv", index=False, encoding="utf-8")

       인덱스                 센터명         위도          경도
0        0     강릉 공공임대형 지식산업센터  37.806207  128.854086
1        1            동해지식산업센터  37.481576  129.133811
2        2              표준공장1동  37.480842  129.153095
3        3              표준공장2동  37.480842  129.153095
4        4              표준공장3동  37.480842  129.153095
...    ...                 ...        ...         ...
1423  1423  스타에이치(벤처스마트복합산업센터)  36.640326  127.439364
1424  1424                직지스타  36.640757  127.440417
1425  1425            청주테크노S타워  36.643153  127.452155
1426  1426               티원타워   36.638478  127.444759
1427  1427           충주 지식산업센터  37.003496  127.822828

[1428 rows x 4 columns]

In [15]:
import pandas as pd

df = pd.read_csv("KIC.csv", encoding="utf-8")

df1 = pd.read_csv("/Users/besuperst/Library/Mobile Documents/com~apple~CloudDocs/DEV/DataDev/ML_KIC/인프라전처리/CONV/편의점150m몇개.csv", encoding="cp949")

new_column_name = "편의점"
df[new_column_name] = df1.iloc[:, 11] # df1의 3열(인덱스 2)을 추가

print(df)

df.to_csv("KIC.csv", index=False, encoding="utf-8")

       인덱스                 센터명         위도          경도 은행 편의점
0        0     강릉 공공임대형 지식산업센터  37.806207  128.854086  E   E
1        1            동해지식산업센터  37.481576  129.133811  C   E
2        2              표준공장1동  37.480842  129.153095  E   E
3        3              표준공장2동  37.480842  129.153095  E   E
4        4              표준공장3동  37.480842  129.153095  E   E
...    ...                 ...        ...         ... ..  ..
1423  1423  스타에이치(벤처스마트복합산업센터)  36.640326  127.439364  B   B
1424  1424                직지스타  36.640757  127.440417  B   C
1425  1425            청주테크노S타워  36.643153  127.452155  B   D
1426  1426               티원타워   36.638478  127.444759  C   C
1427  1427           충주 지식산업센터  37.003496  127.822828  E   D

[1428 rows x 6 columns]

...........................지하철점수 조인.........................................

In [2]:
import pandas as pd

# 데이터 로드
kic_df = pd.read_csv("KIC.csv", encoding="utf-8")
subway_df = pd.read_csv("/Users/besuperst/Library/Mobile Documents/com~apple~CloudDocs/DEV/DataDev/ML_KIC/인프라전처리/Subway/Subway_Score.csv", encoding="utf-8")

# 'center_name' 기준으로 조인
merged_df = kic_df.merge(
    subway_df[['center_name', '지하철_개수', '가중_평균_접근성']],  # 필요한 열만 선택
    how='left',  # 왼쪽 조인: KIC.csv 기준으로 조인
    left_on='센터명',  # KIC.csv의 센터명
    right_on='center_name'  # Subway_Score.csv의 center_name
)

# 주변에 지하철이 없는 경우 0으로 채우기
merged_df['지하철_개수'] = merged_df['지하철_개수'].fillna(0).astype(int)  # NaN → 0, 정수형 변환
merged_df['가중_평균_접근성'] = merged_df['가중_평균_접근성'].fillna(0)  # NaN → 0

# 'center_name' 열 삭제 (필요 없으면)
merged_df = merged_df.drop(columns=['center_name'])

# 결과 확인
print(merged_df)

# 결과 저장
merged_df.to_csv("KIC_지하철_결과.csv", index=False, encoding="utf-8")

       인덱스                 센터명         위도          경도 은행 편의점  지하철_개수  \
0        0     강릉 공공임대형 지식산업센터  37.806207  128.854086  E   E       0
1        1            동해지식산업센터  37.481576  129.133811  C   E       0
2        2              표준공장1동  37.480842  129.153095  E   E       0
3        3              표준공장2동  37.480842  129.153095  E   E       0
4        4              표준공장3동  37.480842  129.153095  E   E       0
...    ...                 ...        ...         ... ..  ..     ...
1423  1423  스타에이치(벤처스마트복합산업센터)  36.640326  127.439364  B   B       0
1424  1424                직지스타  36.640757  127.440417  B   C       0
1425  1425            청주테크노S타워  36.643153  127.452155  B   D       0
1426  1426               티원타워   36.638478  127.444759  C   C       0
1427  1427           충주 지식산업센터  37.003496  127.822828  E   D       0

      가중_평균_접근성
0           0.0
1           0.0
2           0.0
3           0.0
4           0.0
...         ...
1423        0.0
1424        0.0
1425        0.0
1426        0.0
1427        0.0

[1428 rows x 8 columns]

In [4]:
df = pd.read_csv("/Users/besuperst/Library/Mobile Documents/com~apple~CloudDocs/DEV/DataDev/ML_KIC/인프라전처리/Road/KIC_Road.csv", encoding="utf-8")


# 2열과 3열 값을 소수점 둘째 자리까지만 남기기
df.iloc[:, 1] = df.iloc[:, 1].round(2)  # 2열 (인덱스 1)
df.iloc[:, 2] = df.iloc[:, 2].round(2)  # 3열 (인덱스 2)

# 결과 확인
print(df)

# 결과 저장
df.to_csv("KIC_Road.csv", index=False, encoding="utf-8")

                     센터명  가장 가까운 국도까지 거리(km)  가장 가까운 고속도로까지 거리(km)
0        강릉 공공임대형 지식산업센터                0.91                  7.81
1               동해지식산업센터                3.65                  6.42
2                 표준공장1동                5.65                  9.70
3                 표준공장2동                5.65                  9.70
4                 표준공장3동                5.65                  9.70
...                  ...                 ...                   ...
1423  스타에이치(벤처스마트복합산업센터)                4.07                  2.94
1424                직지스타                4.24                  3.11
1425            청주테크노S타워                4.96                  3.99
1426               티원타워                 4.70                  3.56
1427           충주 지식산업센터                4.23                  3.73

[1428 rows x 3 columns]

In [5]:
import pandas as pd

# 데이터 로드
kic_df = pd.read_csv("KIC.csv", encoding="utf-8")
kic_road_df = pd.read_csv("KIC_Road.csv", encoding="utf-8")

# KIC_Road 데이터의 2열과 3열을 새로운 열로 추가
kic_df['가장 가까운 국도까지 거리(km)'] = kic_road_df.iloc[:, 1]  # KIC_Road의 2열
kic_df['가장 가까운 고속도로까지 거리(km)'] = kic_road_df.iloc[:, 2]  # KIC_Road의 3열

# 결과 확인
print(kic_df)

# 결과 저장
kic_df.to_csv("KIC_결과.csv", index=False, encoding="utf-8")

       인덱스                 센터명         위도          경도 은행 편의점  지하철_개수  \
0        0     강릉 공공임대형 지식산업센터  37.806207  128.854086  E   E       0
1        1            동해지식산업센터  37.481576  129.133811  C   E       0
2        2              표준공장1동  37.480842  129.153095  E   E       0
3        3              표준공장2동  37.480842  129.153095  E   E       0
4        4              표준공장3동  37.480842  129.153095  E   E       0
...    ...                 ...        ...         ... ..  ..     ...
1423  1423  스타에이치(벤처스마트복합산업센터)  36.640326  127.439364  B   B       0
1424  1424                직지스타  36.640757  127.440417  B   C       0
1425  1425            청주테크노S타워  36.643153  127.452155  B   D       0
1426  1426               티원타워   36.638478  127.444759  C   C       0
1427  1427           충주 지식산업센터  37.003496  127.822828  E   D       0

      가중_평균_접근성  가장 가까운 국도까지 거리(km)  가장 가까운 고속도로까지 거리(km)
0           0.0                0.91                  7.81
1           0.0                3.65                  6.42
2           0.0                5.65                  9.70
3           0.0                5.65                  9.70
4           0.0                5.65                  9.70
...         ...                 ...                   ...
1423        0.0                4.07                  2.94
1424        0.0                4.24                  3.11
1425        0.0                4.96                  3.99
1426        0.0                4.70                  3.56
1427        0.0                4.23                  3.73

[1428 rows x 10 columns]

In [18]:
df = pd.read_csv("KIC.csv")

df.head()

,번호,센터명,위도,경도,은행,편의점,지하철 개수,지하철 점수,국도(km),고속도로(km)
0,0,강릉 공공임대형 지식산업센터,37.806207,128.854086,E,E,0,0.0,0.91,7.81
1,1,동해지식산업센터,37.481576,129.133811,C,E,0,0.0,3.65,6.42
2,2,표준공장1동,37.480842,129.153095,E,E,0,0.0,5.65,9.70
3,3,표준공장2동,37.480842,129.153095,E,E,0,0.0,5.65,9.70
4,4,표준공장3동,37.480842,129.153095,E,E,0,0.0,5.65,9.70

In [ ]:
df = pd.read_csv("KIC.csv")

df.rename(columns={'가장 가까운 고속도로까지 거리(km)': '고속도로(km)'}, inplace=True)

df.to_csv("KIC.csv", index=False, encoding="utf-8")

In [6]:
import pandas as pd
import numpy as np

# 데이터 불러오기
df = pd.read_csv('KIC.csv')


max_value = df.iloc[:, 9].max()  # 9열은 인덱스 8
print("9열의 최대값:", max_value)

9열의 최대값: 10.11

In [13]:
import pandas as pd
import numpy as np

# 데이터 불러오기
df = pd.read_csv('KIC.csv')

# 0을 2000으로 대체
for col in ['국도(km)', '고속도로(km)']:
    df[col] = df[col].replace(0, 10)

# 조화평균 함수 정의
def harmonic_mean(row):
    vals = row[['국도(km)', '고속도로(km)']]
    return len(vals) / np.sum(1.0 / vals)

# 접근성 점수 계산
df['도로점수'] = df.apply(harmonic_mean, axis=1)

# 5분위로 등급(A~E) 부여
labels = ['A', 'B', 'C', 'D', 'E']
df['도로등급'] = pd.qcut(df['도로점수'], 5, labels=labels)

# 결과 확인
print(df)

# 결과 저장
df.to_csv('KIC_도로등급_결과.csv', index=False, encoding='utf-8')

        번호                 센터명         위도          경도 은행 편의점  지하철 개수  지하철 점수  \
0        0     강릉 공공임대형 지식산업센터  37.806207  128.854086  E   E       0     0.0
1        1            동해지식산업센터  37.481576  129.133811  C   E       0     0.0
2        2              표준공장1동  37.480842  129.153095  E   E       0     0.0
3        3              표준공장2동  37.480842  129.153095  E   E       0     0.0
4        4              표준공장3동  37.480842  129.153095  E   E       0     0.0
...    ...                 ...        ...         ... ..  ..     ...     ...
1423  1423  스타에이치(벤처스마트복합산업센터)  36.640326  127.439364  B   B       0     0.0
1424  1424                직지스타  36.640757  127.440417  B   C       0     0.0
1425  1425            청주테크노S타워  36.643153  127.452155  B   D       0     0.0
1426  1426               티원타워   36.638478  127.444759  C   C       0     0.0
1427  1427           충주 지식산업센터  37.003496  127.822828  E   D       0     0.0

      국도(km)  고속도로(km)      도로점수 도로등급
0       0.91      7.81  1.630069    A
1       3.65      6.42  4.654022    E
2       5.65      9.70  7.140717    E
3       5.65      9.70  7.140717    E
4       5.65      9.70  7.140717    E
...      ...       ...       ...  ...
1423    4.07      2.94  3.413923    C
1424    4.24      3.11  3.588136    D
1425    4.96      3.99  4.422436    D
1426    4.70      3.56  4.051332    D
1427    4.23      3.73  3.964296    D

[1428 rows x 12 columns]

In [15]:
df = pd.read_csv("KIC_도로등급_결과.csv")
df.iloc[:, 10] = df.iloc[:, 10].round(2)

df.to_csv("KIC.csv", index=False, encoding="utf-8")

In [17]:
import pandas as pd

# 데이터 로드
df = pd.read_csv("KIC.csv")

# 0.0인 경우 E 등급으로 설정
df['지하철등급'] = 'E'  # 기본값을 E로 설정

# 0.0이 아닌 값들만 A~D로 등급화
non_zero_scores = df[df['지하철 점수'] > 0]  # 0.0이 아닌 값 필터링
labels = ['D', 'C', 'B', 'A']  # 높은 점수가 A, 낮은 점수가 D
df.loc[df['지하철 점수'] > 0, '지하철등급'] = pd.qcut(non_zero_scores['지하철 점수'], 4, labels=labels)

# "지하철등급" 열을 "지하철 점수"와 "국도(km)" 사이에 삽입
columns = df.columns.tolist()
insert_position = columns.index('지하철 점수') + 1  # "지하철 점수" 바로 뒤에 삽입
columns.insert(insert_position, '지하철등급')  # 새로운 열 위치 지정
df = df[columns]  # 열 순서 재정렬

# 결과 확인
print(df.head())

# 결과 저장
df.to_csv('KIC_지하철등급_결과.csv', index=False, encoding='utf-8')

   번호              센터명         위도          경도 은행 편의점  지하철 개수  지하철 점수 지하철등급  \
0   0  강릉 공공임대형 지식산업센터  37.806207  128.854086  E   E       0     0.0     E
1   1         동해지식산업센터  37.481576  129.133811  C   E       0     0.0     E
2   2           표준공장1동  37.480842  129.153095  E   E       0     0.0     E
3   3           표준공장2동  37.480842  129.153095  E   E       0     0.0     E
4   4           표준공장3동  37.480842  129.153095  E   E       0     0.0     E

   국도(km)  고속도로(km)  도로점수 도로등급 지하철등급
0    0.91      7.81  1.63    A     E
1    3.65      6.42  4.65    E     E
2    5.65      9.70  7.14    E     E
3    5.65      9.70  7.14    E     E
4    5.65      9.70  7.14    E     E

In [18]:
import pandas as pd

# 데이터 로드
df = pd.read_csv("KIC_지하철등급_결과.csv")

# 마지막 열 삭제
df = df.iloc[:, :-1]

# 결과 확인
print(df.head())

# 결과 저장
df.to_csv("KIC.csv", index=False, encoding="utf-8")

   번호              센터명         위도          경도 은행 편의점  지하철 개수  지하철 점수 지하철등급  \
0   0  강릉 공공임대형 지식산업센터  37.806207  128.854086  E   E       0     0.0     E
1   1         동해지식산업센터  37.481576  129.133811  C   E       0     0.0     E
2   2           표준공장1동  37.480842  129.153095  E   E       0     0.0     E
3   3           표준공장2동  37.480842  129.153095  E   E       0     0.0     E
4   4           표준공장3동  37.480842  129.153095  E   E       0     0.0     E

   국도(km)  고속도로(km)  도로점수 도로등급
0    0.91      7.81  1.63    A
1    3.65      6.42  4.65    E
2    5.65      9.70  7.14    E
3    5.65      9.70  7.14    E
4    5.65      9.70  7.14    E